<section class=" container  px-3 py-2 bg-light">
    <!-- @if(){} -->
    <div class="row g-5">
        @for (p of products(); track $index) {
            <div class="products py-3 col-6 col-lg-4 col-xl-3">
                <div>
                    <div class="p-1">
                        <img class="w-100 object-fit-contain " height="250px" [src]="p.image" alt="{{p.title | trimText : 2}}">
                    </div>
                    <div class="mt-1 mx-auto text-center">
                        <h3 class="small fw-bold text-main">{{p.title | trimText : 2}}</h3>
                        <p class="fw-bold small mt-2">{{p.description .split(" ",2).join(" ")}}</p>
                        <span class="d-inline-block mt-2 text-danger">{{p.price}} EGP</span>
                        
                    </div>
                </div>
            </div>
        }
    </div>

</section>